:root {
    --text-color: #2d2d2d;
    --bg-color: #f2f2f2;
    --secondary-color: #45a248;
    --border-color: #ccc;
}


body {
    font-family: Tahoma;
    background: var(--bg-color);
    color: var(--text-color)
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 15px;
}

input:not([type="checkbox"]), select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--secondary-color);
    color: #fff;
}


.hide {
    display: none;
}