body {
  font-family: Tahoma;
  background: #f9f9f9;
  padding: 20px;
}

form {
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 25px;
}

input:not([type="checkbox"]),
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 9px;
  display: block;
  box-sizing: border-box;
}
